@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", serif;
  color: #cbd0df;
  background-color: #272e35;
}

header {
  background-color: #22272e;
  padding: 10vh 10%;
  /* width: 80%; */
  /* height: 25vh;   */
  /* z-index: 3;
  position: fixed;
  top: 0;
  left: 0; */

}

#frame1 {
  display: flex;
  justify-content: space-between;
}

#body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 10% 5vh;
}

#body span#first{
  color: #4b92e9;
}

#body span#second{
  color: #ef6c75;
}

#game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #game img{
} */

#game h1{
  padding-bottom: 10vh;
}

#crest {
  position: relative;
}

#crest img{
  width: 468px;
  height: 468px;
}


#setca {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: min-content;
  gap: 9px;
  position: absolute;
  top: 0;
  left: 0;
}

div#setca > img {
  width: 150px;
  height: 150px;
}

/* #setca img {
  border: 1px red solid;
} */

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;*/
  align-items: center;
  width: 200px;
}

#player1 h1 span {
  color: #4b92e9;
}

#player2 h1 span {
  color: #ef6c75;
}

#game-over{
  background-color: #272e35;
  border: 9px solid #797F8A;
  border-radius: 50px;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 27%;
  padding: 3%;

  display: flex;
  flex-direction: column;
  /* margin: auto 0; */
}

#game-over h2 span#first{
  color: #4b92e9;
}

#game-over h2 span#second{
  color: #ef6c75;
}

#game-over button{
  background-color: #797F8A;
  color: #cbd0df;
  padding: 0.5em 2em;
  border: 9px solid #797F8A;
  border-radius: 50px;
  align-self: flex-end;
  font-weight: bold;
  margin-top: 10%;
  transition: 0.5s ease;
}

#game-over button:hover{
  background-color: #272e35;
}
